@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using pa130555d_projekat.Models;
@using System.Web.Security;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Auctions</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/SignalR/hubs"></script>
    <script>
    $(document).ready(function () {

                var tml = $.connection.realTimeData;
                
                tml.client.updatePending = function (num) {
                    var st = "";
                    var not = "";
                    if (num != 0) {
                        st = " (" + num + ")";
                        not = "*";
                    }
                    $("#pending").text(st);
                    $("#notification").text(not);
                }
                $.connection.hub.start().done(function () {
                    
                });
            });
    </script>
    


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online Auctions", "Index", "PRODUCTs2", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Product options <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="text-center">@Html.ActionLink("My products", "MyProducts", "PRODUCTs2")</a></li>
                                        <li><a href="#" class="text-center">@Html.ActionLink("Sold products", "SoldProducts", "PRODUCTs2")</a></li>
                                    </ul>
                                </li>
                        <li>@Html.ActionLink("New product", "Create", "PRODUCTs2")</li>
                        var roleManager = new RoleManager<IdentityRole>(new RoleStore<IdentityRole>(new ApplicationDbContext()));
                        var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
                        if (manager.IsInRole(User.Identity.GetUserId(), "Admin"))
                        {
                                <li class="dropdown"><a href="#" class="dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Admin options <span id="notification"></span><span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="text-center">@Html.ActionLink("Registered users", "ListAllUsers", "Account")</a></li>
                                        <li><a href="#" class="text-center">@Html.ActionLink("Pending products", "PendingProducts", "PRODUCTs2")</a><span id="pending"></span></li>
                                        <li><a href="#" class="text-center">@Html.ActionLink("Active products", "ActiveProducts", "PRODUCTs2")</a></li>
                                        
                                    </ul>
                                </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Ana Pesic 555/13</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
