@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using pa130555d_projekat.Models;

@section Scripts{
<script type="text/javascript" src="http://stage.centili.com/widget/js/c-mobile-payment-scripts.js"></script>
    }

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        
        <li>
            <div class="dropdown">
                <img src="https://s25.postimg.org/myewu9lsf/coins.gif" width="28" height="28" style="margin-top:10px;" data-toggle="dropdown" />
                <ul class="dropdown-menu">
                    @{

                        var store = new UserStore<ApplicationUser>(new ApplicationDbContext());
                        var manager = new UserManager<ApplicationUser>(store);
                        var currentUser = manager.FindById(User.Identity.GetUserId());
                    }
                    <li class="list-group-item-heading text-center"><p class="text-center"><b>Tokens: @currentUser.Tokens</b></p></li>
                    <li><a href="#" class="text-center">@Html.ActionLink("BUY TOKENS", "Create", "ORDERs2")</a></li>
                    <li><a href="#" class="text-center">@Html.ActionLink("View orders", "MyOrders", "ORDERs2")</a></li>
                </ul>
            </div>
        </li>

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
                            }

                        }
                        else
                        {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
